* {
    display: block;
    margin: 0px auto;
}

.banner {

    padding: 50px 50px 0px 140px;
    box-sizing: border-box;
    align-items: center;
    margin: 0 auto;

}

.back {
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Banner\ Image.png);
    background-size: cover;
    border-radius: 16px;
    display: block;
    margin: 60px auto;


}

.header {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.header-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0px;

}

.header-subtitle {
    color: #FFF;
    font-family: Merriweather;
    font-size: 40px;
    font-weight: bold;
    margin-top: 0px;



}

.header-sub {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.container {
    margin-top: 120px;
    text-align: center;
    font-family: Inter;
}

.section-title {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;

}

.section-description {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-top: 0px;

}

.new-des {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0px;

}

.welcome {
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Vectorrr.png);
    background-position: cover;
    display: flex;
    margin: 60px auto;
    border-radius: 1%;
}

.welcome-text {
    padding-top: 150px;
    text-align: left;
}

.welcome-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 642px;

}

.welcome-info {
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 20px;
    padding-left: 50px;
}

.welcome-btn {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    width: 150px;
    height: 40px;
    background: transparent;
    margin-left: 70px;
    margin-top: 30px;
    border: none;
}

.welcome-pic {
    width: 319.83px;
    height: 464.662px;
    padding-top: 60px;
    padding-right: 35px;
}

.another-image {
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}



.welcome-header {
    color: #f3eeee;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    height: 100%;
    width: 100%;
    display: flex;
    margin: 120px 200px;
    padding: 30px 250px 126px 10px;
}

.address {
    width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 10px;
}

.address-main {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.short {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    margin-right: 0px;
}

.address-title {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    margin-left: 0px;
}

.address-button {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    border-radius: 8px;
    background: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 50px;
    margin-left: 600px;
    border: none;
}



.offer {
    width: 1320px;
    height: 600px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
}

.offer-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.offer-time {

    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;

}

.offer-info {
    text-align: left;
    width: 390px;
    height: 125px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.offer-pic {

    width: 360px;
    height: 360px;
    border-radius: 50%;
    padding: 30px;
    background-color: rgb(246, 251, 249);
    border: #F00 solid 15px;




}

.year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.text {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;

}

.year-pic {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
}

.sell {
    width: 1320px;
    height: 700px;
    background: #FFF;
}

.sell-text {
    text-align: center;
    padding-top: 30px;
}

.sell-1 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.sell-2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 50px;
    font-weight: 900;
    display: inline-flex;
    margin-bottom: 10px;
}

.new-sell {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 50px;
    font-weight: 900;
    padding-right: 5px;
    margin-bottom: 10px;
}

.sell-3 {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    width: 1068px;
}



.sell-pic1 {
    width: 400px;
    height: 400px;
    border-radius: 16px 16px 0px 0px;
    background: url('images/Rectangle\1.png');
    background: none;
    margin-top: 50px;
    margin-left: 920px;
}

.sell-line {
    width: 1320px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 16px 0px 16px 16px;
    background: #F00;
}


.gift {
    width: 1320px;
    height: 1200px;
    background: #FFF;
    margin-top: 120px;
    margin-bottom: 60px;
}

.gift-text1 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.gift-text2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 24px;
}

.gift-text3 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    margin-left: 0px;
    margin-bottom: 30px;
}

.gift-image {
    display: flex;
    margin-bottom: 20px;
}

.gift-image-new {
    display: flex;
    margin-bottom: 60px;
}

.newsletter {
    width: 1320px;
    height: 610px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    align-items: center;
    display: block;
    margin-bottom: 40px;
}

.news-image {
    padding: 30px;
    margin-bottom: 0px;
}

.news-container {
    margin-bottom: 30px;
}

.news-header {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 0px;
}

.news-info {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
}



 .bar { 
    width: 350px;
    float: left;
    margin-left: 470px;
}

.search {
    font-family: open sans;
    width: 250px;
    height: 40px;
    background: transparent;
    border: 2px solid orangered;
    margin-top: 18px;
    color: #402828;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

.button {
    width: 100px;
    height: 40px;
    background: rgb(240, 65, 30);
    border: 2px solid orangered;
    margin-top: 18px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    text-decoration: none;
}
.search:focus{
    outline: none;
}
.button:focus{
    outline: none;
}
.last {
    width: 1600px;
    height: 609px;
    background: #070211;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 60px;

}

.last-part {
    display: flex;
}

.last-info {

    font-weight: 500;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 100px;
    padding-bottom: 50px;

}

.last-image {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.last-content {
    display: block;
    padding-top: 50px;
}

.last-content1 {
    display: flex;
}

.icon {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 60px;
    justify-content: center;
}

.few {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}